.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: initial;
  color: #ff6801;
  /* background: #ffffff;
  padding: 7px 11px;
  border-radius: 100%; */
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
